<div class="row">
  <h1 class="col s12 center-align">My Sheets</h1>
</div>
<div class="row">
  <div class="col s12 m2 l2">
    <input routerLink="/add-worksheet" type="button" value="Add New Sheet" class="btn btn-small waves-effect waves-light blue lighten-2">
  </div>
  <nav class="search-bar col s12 m8 l8 offset-m2 offset-l2">
    <div class="nav-wrapper blue lighten-4">
      <form>
        <div class="input-field">
          <input id="search" type="search">
          <label class="label-icon search-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="row">
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType != 'date ascending' || sortType != 'date descending'" class="btn waves-effect waves-light col s6 m3 l3 grey">Date</button>
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType == 'date ascending'" class="btn waves-effect waves-light col s6 m3 l3">Date <i class="material-icons">expand_less</i></button>
  <button (click)="sortSheets($event.target.textContent, 'descending')" *ngIf="sortType == 'date descending'"  class="btn waves-effect waves-light col s6 m3 l3 ">Date <i class="material-icons">expand_more</i></button>
  
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType != 'priority ascending' || sortType != 'priority descending'" class="btn waves-effect waves-light col s6 m3 l3 grey">Priority</button>
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType == 'priority ascending'" class="btn waves-effect waves-light col s6 m3 l3 ">Priority <i class="material-icons">expand_less</i></button>
  <button (click)="sortSheets($event.target.textContent, 'descending')" *ngIf="sortType == 'priority descending'"  class="btn waves-effect waves-light col s6 m3 l3 ">Priority <i class="material-icons">expand_more</i></button>
  
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType != 'status ascending' || sortType != 'status descending'" class="btn waves-effect waves-light col s6 m3 l3 grey">Status</button>
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType == 'status ascending'" class="btn waves-effect waves-light col s6 m3 l3">Status <i class="material-icons">expand_less</i></button>
  <button (click)="sortSheets($event.target.textContent, 'descending')" *ngIf="sortType == 'status descending'"  class="btn waves-effect waves-light col s6 m3 l3">Status <i class="material-icons">expand_more</i></button>
  
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType != 'modified ascending' || sortType != 'modified descending'" class="btn waves-effect waves-light col s6 m3 l3 grey">Modified</button>
  <button (click)="sortSheets($event.target.textContent, 'ascending')" *ngIf="sortType == 'modified descending'" class="btn waves-effect waves-light col s6 m3 l3">Modified <i class="material-icons">expand_less</i></button>
  <button (click)="sortSheets($event.target.textContent, 'descending')" *ngIf="sortType == 'modified descending'"  class="btn waves-effect waves-light col s6 m3 l3">Modified <i class="material-icons">expand_more</i></button>
</div>
<div>
  <ul>
    <li class="row" *ngFor="let sheet of sheets; i as index" class="col s12 m12 l9 sheet light-blue lighten-5 z-depth-2">
      <app-sheet class="col s12 m12 l12" class="sheet" [sheet]="sheet"></app-sheet>
    </li>
  </ul>
</div>