<div class="row">
  <h1 class="col s12">Add Worksheet</h1>
</div>
<div class="row">
  <div class="col s2">
    <!-- Dropdown Trigger -->
    <a materialize="dropdown" class='dropdown-button btn blue lighten-2' href='#' data-activates='dropdown1'>Drop Me!</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a routerLink="/add-template">Add new template</a></li>
      <li><a>Template 1</a></li>
      <li><a>Template 2</a></li>
      <li><a>Template 3</a></li>
      <li><a>Template 4</a></li>
    </ul>
  </div>
</div>