<div class="row">
  <h1 class="col s12">Add Worksheet</h1>
</div>
<div class="row">
  <div class="col s2">
    <!-- Dropdown Trigger -->
    <a materialize="dropdown" class='dropdown-button btn blue lighten-2' href='#' data-activates='dropdown1'>Template</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a routerLink="/add-template">Add new template</a></li>
      <li *ngFor="let title of templateTitles; let i=index" (click)="setupSheetWithTemplate(i)">
        <a> {{ title }} </a>
      </li>
    </ul>
  </div>
</div>


<div class="row" *ngIf="sheetInitialized; else noTemplateSelected">
  <p> {{ templateTitle }} </p>
  <div class="col center">
    <form [formGroup]="sheetForm" (ngSubmit)="addSheet()">
      <ul>
        <li>
          <div class="input-field col s12">
            <label for="">Title</label>
            <input formControlName="title" placeholder="" id="description" type="text" class="validate">
          </div>
        </li>
        <li>
          <div class="input-field col s12">
            <label for="">Description</label>
            <input formControlName="description" placeholder="" id="description" type="text" class="validate">
          </div>
        </li>
        <li *ngFor="let item of sheetForm.controls.items.controls; index as i">
          <div formArrayName="items">
            <form [formGroup]="item">
              <div [ngSwitch]="item.value.type">
                <!-- Header -->
                <div *ngSwitchCase="'header'">
                  <div class="inputElement">
                    <div class="input-field col s12">
                      <hr>
                      <label for="">Header</label>
                      <input formControlName="value" placeholder="Header" id="fieldHeader" type="text" class="validate">
                    </div>
                  </div>
                </div>
                <!-- Multiple inputs -->
                <div *ngSwitchCase="'inputFields'">
                  <div class="inputElement">
                    <div class="input-field col">
                      <hr>
                      <input formControlName="header" placeholder="Group header" id="fieldHeader" type="text" class="validate">
                      <ul>
                        <li *ngFor="let inputField of sheetForm.controls.items.controls[i].controls.inputs.controls; index as y">
                          <div formArrayName="inputs">
                            <form [formGroup]="inputField">
                              <div class="input-group">
                                <input formControlName="header" placeholder="Header" id="fieldHeader" type="text" class="validate col s4">
                                <input formControlName="value" placeholder="Value" id="fieldHeader" type="text" class="validate col s4 offset-s1">
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Table -->
                <div *ngSwitchCase="'table'">

                </div>
                <!-- List -->
                <div *ngSwitchCase="'list'">

                </div>
                <!-- Checkboxes -->
                <div *ngSwitchCase="'checkboxes'">

                </div>
              </div>
              </form>
          </div>
        </li>
        <input type="submit" value="Add Sheet" class="btn btn-small waves-effect waves-light blue lighten-2">
      </ul>
    </form>
  </div>
</div>

<ng-template #noTemplateSelected>
  <p>Select template from dropdown</p>
</ng-template>
  



<pre>
  {{ sheetForm.value | json }}
</pre>