b {
    font-size: 15px;
}

p, pre {
    font-size: 15px;
}

hr {
    margin-right: 20px;
}

.title {
    font-size: 30px;
    margin-top: -30px;
    font-weight: bold;
}

#title {
    font-size: 30px;
    margin-top: -30px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    margin-top: -30px;
    margin-left: 5px;
}

#descriptionTextarea {
    font-size: 15px;
    margin-top: -20px;
}

.field-value {
    margin-top: 3px;
}

.items {
    border: 1px dotted black;
    border-radius: 5px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.items2 {
    margin: 5px;
}
.dates {
    margin-top: 30px;
}

.date {
    margin-top: 10px;
}

.header {
    font-size: 40px;
    font-weight: bold;
}

.item-title {
    font-size: 20px;
}