<div class="row">
  <h1>My Templates</h1>
  <div class="sort">
    <a materialize="dropdown" class='dropdown-button btn blue-grey lighten-5 black-text' href='#' data-activates='dropdown1'> {{ sortType }} </a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li *ngFor="let sort of sortTypes; index as i">
        <a> {{ sort }} </a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <nav class="search-bar">
    <div class="nav-wrapper blue lighten-4">
      <form>
        <div class="input-field">
          <input id="search" type="search">
          <label class="label-icon search-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="row">
  <ul>
    <li *ngFor="let template of templates; index as i">
      <div *ngIf="isThisExpandedTemplate(i); else isNotExpandedTemplate" class="col s12 m12 l12 template">
          <a class="waves-effect waves-light btn-floating right squared extend-template-arrow" (click)="closeTemplate()"><i class="material-icons left">expand_less</i></a>
          <a class="waves-effect waves-light btn-floating right squared extend-template-arrow red" (click)="deleteTemplate(i)"><i class="material-icons left">delete_forever</i></a>
          <div class="row">
            <div class="col center">
              <form [formGroup]="expandedTemplateForm" (ngSubmit)="updateTemplate()">
                <ul>
                  <li>
                    <div class="input-field col s12">
                      <label for="">Title</label>
                      <input formControlName="title" placeholder="" id="description" type="text" class="validate">
                    </div>
                  </li>
                  <li>
                    <div class="input-field col s12">
                      <textarea formControlName="description" id="searchbar" class="materialize-textarea"></textarea>
                      <label for="searchbar">Description</label>
                    </div>
                  </li>
                  <li *ngFor="let item of expandedTemplateForm.controls.items.controls; index as i">
                    <div formArrayName="items">
                      <form [formGroup]="item">
                        <div [ngSwitch]="item.value.type">
                          <!-- Header -->
                          <div *ngSwitchCase="'header'">
                            <div class="inputElement">
                              <div class="input-field col s12">
                                <hr>
                                <label for="">Header</label>
                                <input formControlName="value" placeholder="Header" id="fieldHeader" type="text" class="validate">
                              </div>
                            </div>
                          </div>
                          <!-- Multiple inputs -->
                          <div *ngSwitchCase="'inputFields'">
                            <div class="inputElement">
                              <div class="input-field col">
                                <hr>
                                <input formControlName="header" placeholder="Group header" id="fieldHeader" type="text" class="validate">
                                <ul>
                                  <li *ngFor="let inputField of expandedTemplateForm.controls.items.controls[i].controls.inputs.controls; index as y">
                                    <div formArrayName="inputs">
                                      <form [formGroup]="inputField">
                                        <div class="input-group">
                                          <input formControlName="header" placeholder="Header" id="fieldHeader" type="text" class="validate col s4">
                                          <input formControlName="value" placeholder="Value" id="fieldHeader" type="text" class="validate col s4 offset-s1">
                                        </div>
                                      </form>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- Table -->
                          <div *ngSwitchCase="'table'">
          
                          </div>
                          <!-- List -->
                          <div *ngSwitchCase="'list'">
          
                          </div>
                          <!-- Checkboxes -->
                          <div *ngSwitchCase="'checkboxes'">
          
                          </div>
                        </div>
                        </form>
                    </div>
                  </li>
                  <input type="submit" value="Edit Template" class="btn btn-small waves-effect waves-light blue lighten-2 left">
                </ul>
              </form>
            </div>
            </div>
      </div>
      <ng-template #isNotExpandedTemplate>
        <div class="col s12 m12 l12 template">
          <a class="waves-effect waves-light btn-floating right squared extend-template-arrow" (click)="expandTemplate(i)"><i class="material-icons left">expand_more</i></a>
          <a class="waves-effect waves-light btn-floating right squared extend-template-arrow red" (click)="deleteTemplate(i)"><i class="material-icons left">delete_forever</i></a>
          <p> {{ template.title }} </p>
          <p> {{ template.description }} </p>
        </div>
      </ng-template>
    </li>
  </ul>
</div>