h1 {
    font-size: 40px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
}

label {
    margin-left: 10px;
}

.remove-btn {
    margin-top: 22px;
}

.remove-btn-top {
    margin-top: 30px;
}