<div class="row">
  <div class="col">
    <h1>Add Template</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Dropdown Trigger -->
    <a materialize="dropdown" class="dropdown-button btn-floating btn-large waves-effect waves-light blue lighten-2" href='#' data-activates='dropdown1'><i class="material-icons">add</i></a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li (click)="addHeader()"><a><i class="material-icons">remove</i>Header</a></li>
      <li (click)="addInputFields()"><a><i class="material-icons"></i>Input fields</a></li>
      <li (click)="addTable()"><a><i class="material-icons">grid_on</i>Table</a></li>
      <li (click)="addList()"><a><i class="material-icons">format_list_bulleted</i>List</a></li>
      <li (click)="addCheckboxes()"><a><i class="material-icons">check_box</i>Checkboxes</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col center">
    <form [formGroup]="templateForm" (ngSubmit)="addTemplate()">
      <ul>
        <li>
          <div class="input-field col s12">
            <label for="">Title</label>
            <input formControlName="title" placeholder="Header" id="fieldHeader" type="text" class="validate">
          </div>
        </li>
        <li>
          <div class="input-field col s12">
            <label for="">Description</label>
            <input formControlName="description" placeholder="Description" id="fieldHeader" type="text" class="validate">
          </div>
        </li>
        <div *ngIf="templateForm.controls.items">
          <li *ngFor="let item of templateForm.controls.items.controls; index as i">
            <div formArrayName="items">
              <form [formGroup]="item">
                <div [ngSwitch]="item.value.type">
                  <!-- Header -->
                  <div *ngSwitchCase="'header'">
                    <div class="inputElement">
                      <div class="input-field col s12">
                        <hr>
                        <label for="">Header</label>
                        <input formControlName="value" placeholder="Header" id="fieldHeader" type="text" class="validate">
                      </div>
                    </div>
                  </div>
                  <!-- Multiple inputs -->
                  <div *ngSwitchCase="'inputFields'">
                    <div class="inputElement">
                      <div class="input-field col">
                        <hr>
                        <label for="">Fields header</label>
                        <input formControlName="header" placeholder="Group header" id="fieldHeader" type="text" class="validate">
                        <ul>
                          <li *ngFor="let inputField of templateForm.controls.items.controls[i].controls.inputs.controls; index as y">
                            <div formArrayName="inputs">
                              <form [formGroup]="inputField">
                                <div class="input-group">
                                  <input formControlName="header" placeholder="Header" id="fieldHeader" type="text" class="validate col s4">
                                  <input disabled placeholder="Value" id="fieldHeader" type="text" class="validate col s4 offset-s1">
                                </div>
                              </form>
                            </div>
                          </li>
                          <a (click)="addInputField(i)" class="btn-floating btn-small waves-effect waves-light"><i class="small material-icons">add</i></a>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Table -->
                  <div *ngSwitchCase="'table'">

                  </div>
                  <!-- List -->
                  <div *ngSwitchCase="'list'">

                  </div>
                  <!-- Checkboxes -->
                  <div *ngSwitchCase="'checkboxes'">

                  </div>
                </div>
                </form>
            </div>
          </li>
        </div>
        <input type="submit" value="Add Template" class="btn btn-small waves-effect waves-light blue lighten-2">
      </ul>
    </form>
  </div>
</div>

<pre>
  {{ templateForm.value | json }}
</pre>
<p> {{ templateForm.valid }} </p>