input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px;
}

label {
    margin-left: 10px;
}

.remove-btn {
    margin-top: 22px;
}

.remove-btn-top {
    margin-top: 30px;
}

.rmRow {
    margin-bottom: -50px;
}

.list-row-add-btn {
    margin-left: 10px;
}

.list-number {
    font-size: 25px;
}

.remove-btn-list {
    margin-top: 22px;
}