<!-- <pre> {{ templateForm.value | json }} </pre>
 -->
<button (click)="test()">Test</button>

<pre> {{ templateForm.value | json }} </pre>

<div class="row">
  <div class="col">
    <h1>Add Template</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Dropdown Trigger -->
    <a materialize="dropdown" class="dropdown-button btn-floating btn-large waves-effect waves-light blue lighten-2" href='#' data-activates='dropdown1'><i class="material-icons">add</i></a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li (click)="addHeader()"><a><i class="material-icons">remove</i>Header</a></li>
      <li (click)="addInputFields()"><a><i class="material-icons"></i>Input fields</a></li>
      <li (click)="addTable()"><a><i class="material-icons">grid_on</i>Table</a></li>
      <li (click)="addList()"><a><i class="material-icons">format_list_bulleted</i>List</a></li>
      <li (click)="addCheckboxes()"><a><i class="material-icons">check_box</i>Checkbox</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="">
    <form [formGroup]="templateForm" (ngSubmit)="addTemplate()" novalidate>
      <ul>
        <li class="row">
          <div class="input-field col s12 m10 l8">
            <label for="">Title</label>
            <input formControlName="title" id="fieldHeader" type="text" class="validate">
          </div>
        </li>
        <li class="row">
          <div class="input-field col col s12 m10 l8">
            <textarea formControlName="description" id="searchbar" class="materialize-textarea"></textarea>
            <label for="searchbar">Description</label>
          </div>
        </li>
        <ul *ngIf="templateForm.get('items')">
          <li class="row" *ngFor="let item of templateForm.get('items').controls; index as i">
            <div formArrayName="items">
              <form [formGroup]="item" novalidate>
                <div [ngSwitch]="item.value.type">
                  <!-- Header -->
                  <div *ngSwitchCase="'header'">
                    <div class="inputElement">
                      <a (click)="removeItem(i)" class="btn-floating red lighten-1 remove-btn-top"><i class="small material-icons white-text">remove</i></a>
                      <div class="input-field col s12 m12 l12">
                        <hr>
                        <label for="">Header</label>
                        <input formControlName="value" placeholder="Header" id="fieldHeader" type="text" class="">
                      </div>
                    </div>
                  </div>
                  <!-- Multiple inputs -->
                  <div *ngSwitchCase="'inputFields'">
                    <div class="inputElement">
                      <a (click)="removeItem(i)" class="btn-floating red lighten-1 remove-btn-top"><i class="small material-icons white-text">remove</i></a>
                      <div class="input-field col">
                        <hr>
                        <label for="">Fields header</label>
                        <input formControlName="header" placeholder="Group header" id="fieldHeader" type="text" class="validate">
                        <ul>
                          <li *ngFor="let inputField of item.controls.inputs.controls; index as y">
                            <div formArrayName="inputs">
                              <form [formGroup]="inputField" novalidate>
                                <div class="input-group">
                                  <input formControlName="header" placeholder="Header" id="fieldHeader" type="text" class="validate col s4">
                                  <input disabled placeholder="Value" id="fieldHeader" type="text" class="validate col s4 offset-s1">
                                  <a *ngIf="y > 0" (click)="removeInputField(i, y)" class="btn-floating red lighten-1 remove-btn"><i class="small material-icons white-text">remove</i></a>
                                  <a *ngIf="y == 0" (click)="addInputField(i)" class="btn-floating btn-small waves-effect waves-light"><i class="small material-icons">add</i></a>
                                </div>
                              </form>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Table -->
                  <div *ngSwitchCase="'table'">
                    <div class="row">
                      <input formControlName="header" placeholder="Group header" id="fieldHeader" type="text" class="col s10 m8 l6">
                    </div>
                    <table class="row">
                      <thead>
                        <tr class="row">
                          <th class="col s2 m2 l2" *ngFor="let row of item.controls.rows.controls; index as rowIndex">
                            <a (click)="removeTableRow(i, rowIndex)" class="rmRow btn-floating btn-small waves-effect waves-light red"><i class="small material-icons">remove</i></a>
                          </th>
                          <th>
                            <a (click)="addTableRow(i)" class="btn-floating btn-small waves-effect waves-light blue"><i class="small material-icons">add</i></a>
                          </th>
                        </tr>
                      </thead>
                      <thead>
                        <tr class="row">
                          <th class="col s2 m2 l2" *ngFor="let row of item.controls.rows.controls; index as y">
                            <div formArrayName="rows">
                              <form [formGroup]="row" novalidate>
                                <input type="text" formControlName="header">
                              </form>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="row" *ngFor="let column of item.controls.rows.controls[0].controls.values.controls; index as y">
                          <div class="col s2 m2 l2" *ngFor="let row of item.controls.rows.controls; index as rowIndex">
                            <div formArrayName="values">
                              <td *ngFor="let valueGroup of row.controls[rowIndex].controls.values.controls"></td>
                            </div>
                          </div>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- List -->
                  <div *ngSwitchCase="'list'">
                    <div class="row">
                      <div class="row">
                        <input type="text" formControlName="header" class="col s6 m8 l10 offset-s6">
                      </div>
                      <ol>
                        <li class="list-number" *ngFor="let row of item.controls.rows.controls; let rowIndex = index">
                          <div formArrayName="rows">
                            <form [formGroup]="row" novalidate>
                              <input type="text" formControlName="value" class="col s10 m8 l12">
                              <a (click)="removeListRow(i, rowIndex)" class="btn-floating red lighten-1 remove-btn-list"><i class="small material-icons white-text">remove</i></a>
                            </form>
                          </div>
                        </li>
                        <div>
                          <a (click)="addListRow(i)" class="btn-floating btn-small waves-effect waves-light"><i class="small material-icons">add</i></a>
                        </div>
                      </ol>
                    </div>
                  </div>
                  <!-- Checkboxes -->
                  <div *ngSwitchCase="'checkboxes'">
                    <div class="inputElement">
                      <a (click)="removeItem(i)" class="btn-floating red lighten-1 remove-btn-top"><i class="small material-icons white-text">remove</i></a>
                      <div class="col">
                        <hr>col
                        <input formControlName="header" placeholder="Header" id="fieldHeader" type="text" class="validate">
                        <ul>
                          <li *ngFor="let box of item.controls.boxes.controls; index as y">
                            <div formArrayName="boxes">
                              <form [formGroup]="box" novalidate>
                                <div class="input-group">
                                  <p>
                                    <label>
                                      <input type="checkbox" class="filled-in" checked="checked" />
                                      <span>Filled in</span>
                                    </label>
                                  </p>
                                  <select name="idk" id="idk">
                                    <option value="idk">IANDJK</option>
                                  </select>
                                  <a *ngIf="y > 0" (click)="removeInputField(i, y)" class="btn-floating red lighten-1 remove-btn"><i class="small material-icons white-text">remove</i></a>
                                  <a *ngIf="y == 0" (click)="addInputField(i)" class="btn-floating btn-small waves-effect waves-light"><i class="small material-icons">add</i></a>
                                </div>
                              </form>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
            </div>
          </li>
        </ul>
        <input type="submit" value="Add Template" class="btn btn-small waves-effect waves-light blue lighten-2">
      </ul>
    </form>
  </div>
</div>
