<div class="container">
  <div class="row">
      <form [formGroup]="loginForm" class="col s12" id="reg-form" (ngSubmit)="loginUser()">
          <div class="row">
              <div class="input-field col s6">
                  <input formControlName="username" id="username" type="text" class="validate" required>
                  <label for="username">Username</label>
              </div>
              <div class="input-field col s6">
                  <input formControlName="password" id="password" type="password" required>
                  <label for="password">Password</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                  <input type="submit" value="Login" class="waves-effect waves-light btn-large"> <!-- <i class="material-icons right">done</i> -->
              </div>
          </div>
      </form>
  </div>  
</div>